<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/data/mongo https://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <!-- Spring 连接 MongoDB 客户端配置 -->
<!--    <mongo:mongo id="mongo" host="127.0.0.1" port="27018"/>-->
        <!-- 配置 MongoDB 目标数据库 -->

<!--    <mongo:db-factory id="mongoDbFactory" host="127.0.0.1" port="27018" dbname="test" username="username" password="password" mongo-ref="mongo"/>-->

<!--    <bean id="mongoClient" class="com.mongodb.MongoClient">-->
<!--        <constructor-arg>-->
<!--            <bean class="com.mongodb.MongoClientURI">-->
<!--                <constructor-arg type="java.lang.String" value="mongodb://admin:admin@localhost:27018/test"/>-->
<!--            </bean>-->
<!--        </constructor-arg>-->
<!--    </bean>-->

<!--    <mongo:db-factory id="mongoDbFactory" mongo-ref="mongoClient"/>-->

<!--    &lt;!&ndash; 配置 MongoTemplate &ndash;&gt;-->
<!--    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">-->
<!--        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>-->
<!--    </bean>-->
    <!-- Spring 连接 MongoDB 客户端配置 -->

<!--    无认证信息连接登录-->
<!--    <mongo:mongo-client host="127.0.0.1" port="27019" id="mongo"/>-->

    <!--测试可行 连接带认证-->
    <bean id="mongo" class="com.mongodb.MongoClient">
        <constructor-arg>
            <bean class="com.mongodb.MongoClientURI">
                <constructor-arg type="java.lang.String" value="mongodb://username:password@localhost:27018/?authSource=test"/>
            </bean>
        </constructor-arg>
    </bean>

    <!-- 配置 MongoDB 目标数据库 -->
    <mongo:db-factory dbname="test" mongo-ref="mongo" />

    <!-- 配置 MongoTemplate -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

</beans>
